{% extends "base.html" %}
    {% block content %}
        <h1>Добавить одного подписчика</h1>
        <form method="post" class="form-group">
            {% csrf_token %}
            {% for input in form %}
            <p>
                <label class="form-label" for="{{ input.id_for_label }}">
                    {{input.label}}:
                </label>
                {{input}}
            </p>
            <div class="form-error">{{ input.errors }}</div>
            {% endfor %}
            <button type="submit">Добавить подписчика</button>
        </form>
    {% endblock %}
