{% extends "base.html" %}
    {% block content %}
    <h1>Отправка писем группе пользователей</h1>
    <form method="post" class="form-group" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="non-field-errors">
            {% for err in form.non_field_errors %}
            <p class="form-error">{{ err }}</p>
            {% endfor %}
            </div>
        {% endif %}

        {% for input in form %}
        <p>
            <label class="form-label" for="{{ input.id_for_label }}">
                {{input.label}}:
            </label>
            {{input}}
        </p>
        <div class="form-error">{{ input.errors }}</div>
        {% endfor %}
        <button type="submit">Отправить письмо</button>
    </form>
    {% endblock %}
